<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/aop 
						http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
						http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
						http://www.springframework.org/schema/mvc
		                http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd	
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- 扫描包 -->
	<context:component-scan base-package="com" />
	
	<!-- 属性文件读入 -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>jdbc.properties</value>
				<value>mail.properties</value>
			</list>
		</property>
	</bean>
	<!--加载配置文件
	<context:property-placeholder location="mail.properties" />
	<context:property-placeholder location="jdbc.properties" /> -->

	<!--一句注册的这两个bean -->
	<mvc:annotation-driven />
	<!--静态资源 -->
	<mvc:default-servlet-handler />
	<!-- 启动对@AspectJ注解的支持 声明自动为spring容器中那些配置@aspectJ切面的bean创建代理，织入切面 -->
	<aop:aspectj-autoproxy />

	<!--mysql数据源 -->
	<import resource="dataSource_mysql.xml" />
	<!--postgresql-->
	<import resource="dataSource_postgresql.xml" /> 
	<!--redis-->
	<import resource="classpath:redis/redisConfig.xml" />
	<!-- 发送邮件 -->
	<import resource="classpath:email/email-config.xml" />

	<!--获取spring管理的bean -->
	<bean id="applicationContextHelper" class="com.ailink.framework.utils.ApplicationContextHelper" />
	<!--分页插件 
	<bean name="pagePlugin" id="pagePlugin"
		class="com.ailink.framework.mybatis.PagePlugin" />-->


	<!--拦截器 
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**/*" />
			<bean class="com.ailink.framework.interceptor.LoginHandlerInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>-->

	<!--视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/view/" />
		<property name="suffix" value=".jsp" />
	</bean>

</beans>
